<ola></ola>
<div class="alert alert-success" role="alert" [class.alert-info]="warning">
  {{binding_e_interpolation}} works!!!

  <i [style.display]="warning ? 'block' : 'none'">Warning foi HABILITADO!!!!</i>
</div>
gi<button type="button" class="btn btn-primary btn-block" (click)="setWarning()">Teste aqui o Properties binding, Events Binding e o Class binding</button>

<div class="row">
<div class="card col-md-3" style="width: 20rem;">
  <img class="card-img-top" [src]="nossaSala">
  <div class="card-block">
    <h4 class="card-title">Properties binding <code>[src]="..."</code></h4>
    <p class="card-text">

    </p>
  </div>
</div>
<div class="card col-md-3" style="width: 20rem;">
  <img class="card-img-top" bind-src="nossaSala">
  <div class="card-block">
    <h4 class="card-title">Properties binding com <code>bind-src</code></h4>
    <p class="card-text">

    </p>
  </div>
</div>
</div>